*html
!code/energy.html
*bbl
*tex
*history
DD/*
DD
!DD/buildings.w.parcels.energy.propinfo.tree.building.data.rds
RD/*
figs/old_figs
.DS_Store
\#*
\.#*
papers/zoo725paper/*
papers/data
!blender/longer_winter_solstice.gif
blender
blender.zip
poster
*.zip
*.mov